
/* Angular Material */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

/* */


body{
    
}

nav{
    background: black;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

}

nav ul a {
   
    color: #fff;
    padding: 1rem;
    display: block;
    text-decoration: none;

}

nav ul a:hover{

    background: red;
   
    color: #fff;
    padding: 1rem;
    display: block;
    text-decoration: none;
    
}


/* Componentes de formularios */

.contenedor {
    display: flex;
    flex-direction: row;
}